dvc[gs]
dvc-gdrive
omegaconf
hydra-core
Pillow
numpy
pandas
matplotlib
seaborn
timm
torch
torchvision
torchsampler
torchmetrics==0.11.1
pytorch-lightning==1.9.0
pytorch-metric-learning[with-hooks]
mlflow
jupyter
pre-commit
wandb
mypy
faiss-cpu==1.7.4
faiss-gpu==1.7.2